.container mt-5 {
    overflow-x: hidden;
    background: burlywood;  
}

.Jumbotron h1 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:darksalmon;
    font-family: 'Assistant';
    font-weight: bold;
    border: 2px solid black;
}

marquee {
    font-weight: bold;
    border: 2px solid black;
}

.card-body {
    border: 2px solid black;
}